<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--采集方式：0:继续  1：重新-->
    <add key="spiderType" value="0" />
    <!--开始ID-->
    <add key="startID" value="999999" />
    <!--结束ID-->
    <add key="endID" value="653125" />
    <add key="startPage" value="1" />
    <add key="endPage" value="" />
    <add key="threadAmount" value="" />
    <!--网站描述字符串长度-->
    <add key="descriptionLength" value="250" />
    <!--数据库文件设置
    <add key="MySQLConnectionString" value="\data\company.db3" /> -->
  </appSettings>
</configuration>